<footer >

    <h4 class="footerName" style="font-size: 1rem"><span>Made with <i class="fa-solid fa-heart heart"></i> from Hashmat Jibran Bhat</span>  
      <span class="footerIcons">
        <a href="https://github.com/hashmatjibran/TodoApp" target="_blank"><i class="fa-brands fa-github"></i></a>
         &nbsp; 
         <a href="https://www.linkedin.com/in/hashmat-jibran-634134212/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a>
        </span>
      </h4>

    <h2 id="earthAndTime" style="font-size:0.8rem; color:brown"></h2>

</footer>